<div class="jumbotron">
  <h1 class="display-3">About The Creators!</h1>
  <p class="lead">Mike, Sean, Julian, and Davis are graduates of Zip Code Wilmington.</p>
  <p class="lead">Here is some info about the team, as well as links to their GitHubs and LinkedIn profiles.</p>
    <p>Mike:<br>
      Before Coming to Zip Code, Mike was a Material Science Combustible Dust Analyst.
    </p>
    <ul>
      <li><a href="https://github.com/mfkrohn">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/mfkrohn/">LinkedIn</a></li>
    </ul>
  <br>
    <p>Sean: <br>
    Before coming to Zip Code, Sean was a field technician</p>
    <ul>
      <li><a href="https://github.com/seanmaclaughlin">GitHub</a> </li>
      <li><a href="https://www.linkedin.com/in/seanamaclaughlin">LinkedIn</a> </li>
    </ul>
  <br>
    <p>Julian: <br>
    Before coming to Zip Code, Julian was a Logistics Specialist.</p>
    <ul>
      <li><a href="https://github.com/julianrios">GitHub</a> </li>
      <li><a href="https://www.linkedin.com/in/riosjulian">LinkedIn</a> </li>
    </ul>
    <p>Davis: <br>
    Before coming to Zip Code, Davis was a Medic in the Pennsylvania Army National Guard.</p>
    <ul>
      <li><a href="https://github.com/daivsp">GitHub</a> </li>
      <li><a href="https://www.linkedin.com/in/davisperchik">LinkedIn</a> </li>
    </ul>
  <hr class="my-4">
</div>
