<div *ngIf= "profile">
  <h2>Profile: {{profile.name}}</h2>
  <div><span>Profile ID:</span>{{profile.id}}</div>
  <div class="container">
    <h2 class=display-4>Accounts</h2>
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th scope="col">Account ID</th>
        <th scope="col">Account Balance</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <tr *ngFor= "let account of accounts" routerLink="/accounts/{{account.id}}">
        <td>{{account.id}}</td>
        <td>{{account.balance}}</td>
      </tr>
    </table>
  </div>
  <div *ngFor= "let profile of profiles">
  </div>
    <button (click)="goBack()">go back</button>
    <button class="delete" title="delete hero" 
    (click)="deleteProfile(profile.id)">Delete</button>
  <button type="button" class="btn btn-primary" routerLink="/profiles">go back</button>
</div>
