<div class="jumbotron">
    <h1 class="display-3">Your profile/account has been successfully deleted. </h1>
    <p class="lead">Click the button below to go back to the list of profiles. </p>
    <hr class="my-4">
    <p>Alternatively, you could not press the button and just chill here.</p>
  <p>We definitely aren't routing you to this page to avoid a bug...</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['/profiles']">Go Back</a>
    </p>
  </div>
